
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<h2>Timesheet</h2>

<body>

    <table>
        <tr>
            <th>Nombre Heure par jour</th>
            <th>nombre jours par mois</th>
            <th>Actif</th>
            <th>ClockIn</th>

            <th>LastClockOut</th>



        </tr>
        @foreach (var p in ViewBag.result)
        {
        <tr>
            <td>@p.NombreHeureTravailler</td>
            <td>@p.NombreJoursTravaillerParmois</td>
            <td>@p.isActive</td>
            <td>@p.ClockIn</td>
            <td>@p.LastClockOut</td>



            <td>
                <button type="button" class="btn btn_5 btn-lg btn-danger">@Html.ActionLink("Delete", "Delete", new { id = @p.id }) </button>
                <button type="button" class="btn btn_5 btn-lg btn-danger">@Html.ActionLink("Edit", "Edit", new { id = @p.id }) </button>

            </td>

        </tr>
        }

    </table>


</body>

